<section class="projects">
  <div class="container">
    <h1>Featured Projects</h1>
    
    <div class="featured-projects">
      <div *ngFor="let project of featuredProjects" 
           class="featured-card" 
           [@slideIn]
           (mouseenter)="hoverProject = project.id"
           (mouseleave)="hoverProject = null">
        <div class="featured-image">
          <div class="placeholder-image">{{ project.title }}</div>
          <div class="overlay">
            <div class="overlay-content">
              <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" class="btn-link">View Live</a>
              <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" class="btn-link">Source Code</a>
            </div>
          </div>
        </div>
        <div class="featured-info">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <div class="tech-stack">
            <span *ngFor="let tech of project.technologies" class="tech">{{ tech }}</span>
          </div>
        </div>
      </div>
    </div>

    <h2>Other Projects</h2>
    
    <div class="projects-grid">
      <div *ngFor="let project of otherProjects" 
           class="project-card" 
           [@slideIn]
           (mouseenter)="hoverProject = project.id"
           (mouseleave)="hoverProject = null"
           [class.hovered]="hoverProject === project.id">
        <div class="project-image">
          <div class="placeholder-image">{{ project.title }}</div>
          <div class="overlay">
            <div class="overlay-content">
              <a *ngIf="project.liveLink" [href]="project.liveLink" target="_blank" class="btn-link">Live</a>
              <a *ngIf="project.githubLink" [href]="project.githubLink" target="_blank" class="btn-link">Code</a>
            </div>
          </div>
        </div>
        <div class="project-info">
          <h4>{{ project.title }}</h4>
          <p>{{ project.description }}</p>
          <div class="tech-stack">
            <span *ngFor="let tech of project.technologies" class="tech">{{ tech }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
